# docker-compose.yml
version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: call-analyzer-mongo
    ports:
      - "27021:27017" # I am using a different host port to avoid conflicts
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_USER}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_PASS}
    volumes:
      - mongo-data:/data/db

  minio:
    image: minio/minio:latest
    container_name: call-analyzer-minio
    ports:
      - "9005:9000" # API Port also non standard to avoid conflicts
      - "9006:9001" # Console UI Port also non standard to avoid conflicts
    environment:
      - MINIO_ROOT_USER=${MINIO_USER}
      - MINIO_ROOT_PASSWORD=${MINIO_PASS}
    volumes:
      - minio-data:/data
    command: server /data --console-address ":9001"

  redis:
    image: redis:latest
    container_name: call-analyzer-redis
    ports:
      - "6399:6379" # Non standard port to avoid conflicts
    volumes:
      - redis-data:/data

  backend:
    build:
      context: ./backend
    container_name: call-analyzer-backend
    ports:
      - "8002:8000"
    volumes:
      - ./backend:/app
    env_file:
      - .env
    depends_on:
      - mongodb
      - minio
      - redis

  frontend:
    build:
      context: ./frontend
    container_name: call-analyzer-frontend
    ports:
      - "8505:8501" # Non standard port to avoid conflicts
    volumes:
      - ./frontend:/app
    env_file:
      - .env

volumes:
  mongo-data:
  minio-data:
  redis-data:


